* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {

    position: fixed;
    display: flex;
    text-align: center;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    /* Safari */
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    margin: 0 auto;
    width: 100%;
    color: rgba(255, 255, 255, 0.256);
    z-index: 2;



}

.btnh {
    margin-right: 30px;
    text-decoration: none;
    color: #e8f8ff;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;

}

.btnh:hover {
    color: #ffffff;
    border-bottom: solid #00e1ff 2px;
    background: rgba(255, 255, 255, 0.17);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.inicio {
    flex: 1;
    height: 100%;
    width: auto;
    color: rgb(255, 255, 255);
    display: flex;
    background: linear-gradient(180deg, rgb(0, 91, 133), rgb(71, 177, 196));
    justify-content: center;
    align-items: center;

}

.tec {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 15px 60px;        
    width: fit-content;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.tecnologias {
    display: flex;
    justify-content: center;
    background-color: rgb(71, 177, 196);
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px
    
}

main{
    width: 100%;
    height: 100%;
    background-color: rgb(71, 177, 196) ;   
}


.lg {
    height: 40px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease, filter 0.3s ease;
}


.foto {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
}

.fooo {
    width: 80%;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.1));
    z-index: 1;

}




.textoStart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;    
}

.tituloStart {
    font-weight: 700;
    font-size: 7rem;
    line-height: 6rem;
}

.subtituloStart {
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 2.5rem;
    margin: 17px 0 17px 0;
}

.destaque {
    font-weight: 500;
    color: aqua;
}

.btn-contato {
    width: 85%;
    height: auto;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: none;
    padding: 14px 20px 14px 20px;
    border-radius: 25px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    font-size: medium;
}

.btn-contat{
    width: 80%;
    height: auto;;
}

i {
    height: 30px;
    width: 30px;
    padding: 5px;


}


.btn-model {
    width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;

}

.projSee {
    width: 50%;
    height: 100%;
    padding: 12px 20px 12px 20px;
    border-radius: 215px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #ffffff57;
    color: white;
    font-weight: 600;
    cursor: pointer;
}





.lateral2 {
    justify-content: center;
    align-items: center;
    display: flex;
    justify-items: center;
}

.paginas {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgb(71, 177, 196), rgb(0, 91, 133));
    display: flex;
    align-items: center;
    flex-direction: column;

}

.tituloPag {
    width: 100%;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.subtituloPag {
    margin-top: 10px;
    width: 100%;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}



.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 80%;
    color: whitesmoke;
    text-align: start;
    background: #ffffff29;
    border-radius: 20px;
    margin-bottom: 40px;

}

.imagem-site {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 80%;
    color: whitesmoke;
    background: #ffffff29;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 60px;

}

.imagem-site img {

    width: 70%;
    height: 70%;
    object-fit: contain;
    border-radius: 10px;
    transition: transform 0.5s ease, box-shadow 0.3s ease;


}

.imagem-site img:hover {
    transform: scale(1.25);

}



.projeto {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.btn-p {
    display: flex;
    justify-content: center;
    align-items: center;
    ;
    width: 100%;
    height: auto;
    text-decoration: none;
}

.btn-model:hover {
    transform: scale(1.1);
    filter: drop-shadow(10px 0 10px);
    transition: transform 0.3s ease;
}



.projeto p {
    max-width: 50%;
    text-align: center;
    margin-bottom: 20px;


}

.projeto h5 {
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: center;
    width: 50%;
    color: #00e1ff;
}

#descricao {
    width: 50%;
    color: whitesmoke;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    align-items: center;

}

.faixa-parceiro {
    height: 15vh;
    background: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;

}

.faixa-parceiro img {
    height: 80px;
}

.servicos {
    background: #E6E6E6;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
}


.cards {
    height: 100%;
    max-width: 80%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.card {
    box-sizing: border-box;
    padding: 10px;
    flex: 1;
    min-width: 220px;
    min-height: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;

}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    background: #00ffcc;
    color: white;
    cursor: pointer
}

.dec-title {

    margin-top: 25px;
    font-size: 1rem;
    font-weight: 600;
    color: #555555;
}

.decicon {
    margin-top: 15px;
    font-size: 0.9rem;
    font-weight: 400;
    color: #777777;
}

#icon {
    display: flex;
    color: #00e1ff;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}





.contatos {
    flex: 1;
    height: 100%;
    width: auto;
    background: #0076AD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.form {
    padding: 20px;
}


.titulo-contatos {
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 20px;
    text-align: start;
    justify-content: flex-start;

}

input {

    width: 100%;
    padding: 15px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}



@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }
}

.iconesContato {
    gap: 20px;
    display: flex;
}

.iconesContato i {
    transition: all 0.3s ease;
    animation: bounce 2s infinite ease-in-out;
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 15%;
    background: #00e1ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: row;
    cursor: pointer;
    margin-top: 30px;

}

#icon2 {
    background: blanchedalmond;
    color: #0076AD;
}

.iconesContato i:nth-child(1) {
    animation-delay: 0s;
}

.iconesContato i:nth-child(2) {
    animation-delay: 0.2s;
}

.iconesContato i:nth-child(3) {
    animation-delay: 0.4s;
}

.iconesContato i:hover {
    transform: scale(1.2) rotate(10deg);
    box-shadow: 0 0 15px rgba(0, 225, 255, 0.6);
}


.lado2 {


    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;

}

.lado2 p {
    font-weight: 500;
    font-size: 1.7em;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}


.descricao-contatos {
    color: white;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 20px;
}

.btn-act {
    border: none;
    width: 50%;
    height: auto;
    border-radius: 25px;
    padding: 12px;
    font-size: 1rem;
    margin-bottom: 30px;
    font-weight: 600;
    color: #084561;
    background: blanchedalmond;
    cursor: pointer;

}

.btn-act:hover {
    background: turquoise;
    color: rgb(255, 255, 255);
    border: none;
    filter: drop-shadow(0px 0px 5px rgba(0, 255, 221, 0.9));
    transform: scale(1.1);
}

footer {
    width: auto;
    background: #000000;
    color: #084561;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    text-align: center;

}

.ftop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

span {
    color: #00e1ff;
}

.btn-ctt {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
    text-decoration: none;

}

ul {
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-decoration: none;
    list-style: none;
}

hr {
    height: 1px;
    width: 30%;
    border: none;
    background: #afafaf68;
    margin: 10px 0;

}

.ftext {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: medium;
    display: flex;
    color: #E6E6E6;
}

.contato {
    width: 50%;
    margin-top: 20px;
}

/*  RESPONSIVIDADE  */





@media (max-width: 900px) {

    main{
        margin: 0 auto;
    }

    .navbar {
        display: flex;
        width: 100%;
        margin-right: 0px;
        padding: 5px;
        font-size: small;
    }

    .imagem-site {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }

    .projeto {
        margin-bottom: 20px;
    }

    .btnh {
        margin-right: 0px;
        text-align: center;
        align-items: center;
        font-size: small;
    }

    .inicio {
        flex-direction: column;
        text-align: center;

    }

    .textoStart {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-right: 0;
        height: 100%;
    }

    .tituloStart {
        font-size: 3em;
        line-height: 2.8rem;
    }

    .subtituloStart {
        font-size: 1.1rem;
    }

    .btn-contato {
        width: 80%;  
        font-size: medium;      
    }

    .fooo {
        height: 350px;

    }

    .tecnologias {
        display: flex;
        width: 100%
              
    }

    .tec{
        gap:20px;
        padding: 12px 18PX 12px 18px;
        margin-top: 
    
    }

   
    .cards {
        display: flex;
        flex-direction: column;
    }

    .tecnologias {
        width: 100%;
        bottom: 5%;
        border: none;
    }

    .lg {
        height: 30px;
    }

    #descricao {
        width: 100%;
    }

    .btn-model {
        width: 100%;
    }

    .projSee {
        width: 100%;
    }

    .contatos {
        width: 100%;
    }

    .lado2 {
        width: 100%;
        padding: 0px;
        margin-top: 20px;
    }

    .lado2 p {
        font-size: large;
    }

    .ftext {
        font-size: small;
    }

    .contato {
        width: 100%;
    }



}

@media (max-width: 900px) {
    .imagem-site {
        grid-template-columns: repeat(2, 1fr);
    }
}








/*
